<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="userDao" class="com.ruochen.dao.impl.UserDaoImpl"></bean>-->

    <!--工厂静态方法实例化-->
    <!--<bean id="userDao" class="com.ruochen.factory.StaticFactory" factory-method="getUserDao"></bean>-->

    <!--工厂实例方法实例化-->
    <!--<bean id="factory" class="com.ruochen.factory.DynamicFactory"></bean>-->
    <!--<bean id="userDao" factory-bean="factory" factory-method="getUserDao"></bean>-->

    <!--
    <bean id="userDao" class="com.ruochen.dao.impl.UserDaoImpl">
        &lt;!&ndash;普通数据类型注入&ndash;&gt;
        <property name="username" value="ruochen"/>
        <property name="age" value="22"/>
    </bean>
    -->

    <bean id="userDao" class="com.ruochen.dao.impl.UserDaoImpl">
        <!--List数据类型注入-->
        <property name="strList">
            <list>
                <value>aaa</value>
                <value>bbb</value>
                <value>ccc</value>
            </list>
        </property>
        <!--Map数据类型注入-->
        <property name="userMap">
            <map>
                <entry key="u1" value-ref="user1"></entry>
                <entry key="u2" value-ref="user2"></entry>
            </map>
        </property>
        <!--Property数据类型注入-->
        <property name="properties">
            <props>
                <prop key="p1">v1</prop>
                <prop key="p2">v2</prop>
                <prop key="p3">v3</prop>
            </props>
        </property>
    </bean>
    <bean id="user1" class="com.ruochen.domain.User">
        <property name="name" value="tom"></property>
        <property name="addr" value="beijing"></property>
    </bean>
    <bean id="user2" class="com.ruochen.domain.User">
        <property name="name" value="lucy"></property>
        <property name="addr" value="tianjin"></property>
    </bean>

    <!--
    <bean id="userService" class="com.ruochen.service.impl.UserServiceImpl">
        &lt;!&ndash;userDao 注入到 userService&ndash;&gt;
        &lt;!&ndash;
            name="userDao" 中 userName 对应 service 内部对应属性名
            ref="userDao" 代表引用容器中 bean 的 id
        &ndash;&gt;
        <property name="userDao" ref="userDao"></property>
    </bean>
    -->

    <!--p命名空间快捷注入-->
    <!--<bean id="userService" class="com.ruochen.service.impl.UserServiceImpl" p:userDao-ref="userDao"/>-->

    <!--构造方式注入-->
    <bean id="userService" class="com.ruochen.service.impl.UserServiceImpl">
        <!--
            name="userDao" 中 userName 对应 构造内部参数名
            ref="userDao" 代表引用容器中 bean 的 id
        -->
        <constructor-arg name="userDao" ref="userDao"></constructor-arg>
    </bean>
    <bean id="userService2" class="com.ruochen.service.impl.UserServiceImpl">
        <!--
            name="userDao" 中 userName 对应 构造内部参数名
            ref="userDao" 代表引用容器中 bean 的 id
        -->
        <constructor-arg name="userDao" ref="userDao"></constructor-arg>
    </bean>

    <!--引入其他配置文件-->
    <import resource="applicationContext-user.xml"/>
    <import resource="applicationContext-product.xml"/>
</beans>